fuse/echofs/*.o
fuse/echofs/*.sh
fuse/echofs/.sconsign.dblite
fuse/echofs/fuse
fuse/lfs/*.o
fuse/lfs/*.sh
fuse/lfs/.sconsign.dblite
fuse/lfs/fuse
fuse/lfs/testGC/*
fuse/lfs/lfs.data
.vscode/*.json
fuse/lfs/test/*
*.aux
*.log
*.synctex.gz
disk100Mi
fuse/lfs/testQC/20470.txt
fuse/lfs/testQC/20470a.txt
fuse/lfs/testQC/20470b.txt
fuse/lfs/testQC/20470c.txt
fuse/lfs/testQC/20470d.txt
fuse/lfs/testQC/check
fuse/lfs/testQC/check.cpp
fuse/lfs/testQC/generate
fuse/lfs/testQC/generate.cpp
