fuse/echofs/*.o
fuse/echofs/*.sh
fuse/echofs/.sconsign.dblite
fuse/echofs/fuse
fuse/lfs/*.o
fuse/lfs/*.sh
fuse/lfs/.sconsign.dblite
fuse/lfs/fuse
fuse/lfs/testQC/*
fuse/lfs/lfs.data
.vscode/*.json
fuse/lfs/test/*
*.aux
*.log
*.synctex.gz
disk100Mi
